<h1> Welcome to our Blog!s </h1>

<ul>
<% @post.each do |post| %>
    <li>
    <%= link_to post.title, "/post/#{post.id}" %>
    </li>
    <% end %>
</ul>

<h4> <%= link_to "New Blog", new_post_path %> </h4>